body {
   background-image: url(img/m3.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   margin: 0;
   color: white;
   font-size: 26px;

}

/*navbar--------------------------*/
.navbar {
   position: sticky;
   display: flex;
   flex-direction: row;
   margin: 0;
   left: 0;
   height: 70px;
   width: 100%;
   background-color: rgb(55, 54, 54);
   border-bottom: 2px solid;
   border-color: blue;
}

#navbar {
   text-align: center;
   display: block;
   width: 120px;
   height: 50px;
   color: white;
   padding: 20px;
   padding-bottom: 0px;
   text-decoration: none;
   border-right: 2px solid;
   border-color: blue;
   margin-left: 0;
   border-radius: 10px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   font-size: 26px;
   color: white;
}

header {
   background-color: rgba(51, 49, 49, 0.568);
   margin-top: 0px;

}

#header {
   margin-top: 0px;
}

#navbar:hover {
   opacity: 0.7
}

#navbar:active {
   opacity: 0.3
}

/*navbar-------------------------------<<*/

#mg {
   margin-top: 0px;
   text-align: center;
   display: block;
   color: white;
}

hr {
   border-radius: 50%;
   width: 260px;
   margin-bottom: 2px;
   margin: 0px;

}

/*image related stuff----------------------*/
#shroom {
   border-radius: 4px;
   border: 2px solid;
}

#bocc {
   border-radius: 4px;
   border: 2px solid;
   width: 300px;
}

#renpf {
   width: 45px;
}

/*image related stuff----------------------*/
#mmfg {
   text-align: center;
   margin-top: 0px;
   border-radius: 20px;
   display: block;
   height: 300px;
   width: 300px;

}

#list {
   text-align: left;
   color: white;
   font-size: 26px;
   margin-left: 50px;
}

#list1 {
   margin-top: 40px;
   width: 100%;
   display: flex;
   justify-content: space-around;
   gap: 4px;
}

#m {
   align-self: center;
   width: 99.9%;
   color: blue;
}

footer {

   position: sticky;
   display: flex;
   flex-direction: row;
   width: 100%;
   top: 1000px;
   border-top: 2px solid;
   background-color: rgb(31, 31, 31);
   border-color: blue;
   margin: 0;
   height: 50px;

   bottom: 0;

}

table {
   font-size: 20px;
   border: 1px solid;
   width: 90%;
   margin-top: auto;
   margin-left: auto;
   margin-right: auto;
}

td {
   border: 1px solid;
   border-color: rgb(55, 54, 54);
}

#dash {
   margin-left: 60px;
}

/*sidenav*/
.sidenav a {
   position: fixed;
   left: -198px;
   transition: 0.2s;
   padding: 15px;
   width: 200px;
   font-size: 20px;
   color: white;
   border-radius: 0 3px 35px 0;
}

.sidenav a:hover {
   left: 0;
}

#side1 {
   top: 600px;
   background-color: rgb(78, 78, 73);
}

#side2 {
   top: 550px;
   background-color: rgb(65, 65, 73);
}

#side3 {
   top: 500px;
   background-color: rgb(52, 52, 73);
}

#side4 {
   top: 450px;
   background-color: rgb(39, 39, 73);
}

#side5 {
   top: 400px;
   background-color: rgb(26, 26, 75);
}

#side6 {
   top: 350px;
   background-color: rgb(13, 13, 73);
}

.faqt {
   font-size: larger;
   font-weight: 900;
}

.faq {
   display: block;
   margin-left: 80px;
   margin-right: 80px;
}

#profileinfo {
   margin-top: 40px;
   width: 100%;
   display: flex;
   justify-content: space-around;
   gap: 4px;

}

#profilediv {
   margin-bottom: 40px;
}

#links {
   color: white;
   text-decoration: none;
}

#bl {
   margin-left: 80px;
}

#ind {

   width: 450px;
   text-align: left;
}

#line {
   width: 600px;

}

#personalinfo {

   width: 1000px;
   justify-content: space-around;
}

.information {
   height: 900px
}

details>summary {

   padding: 4px;
   background-color: rgba(51, 49, 49, 0.568);
   border-color: white;
   border-radius: 25px;
   box-shadow: 1px 1px 2px #bbbbbb;
   cursor: pointer;
   font-size: 30px;


}

details>p {

   background-color: rgba(51, 49, 49, 0.568);
   border-color: white;
   border-radius: 25px;
   padding: 4px;
   margin: 0;
   box-shadow: 1px 1px 2px #bbbbbb;
   margin-bottom: 5px;
   font-size: 30px;

}

#question {
   margin-bottom: 20px;

}

/* blog */

.bloglink {
   color: white;
   text-decoration: none;

}

#blogbox {
   height: 60px;
   background-color: rgba(51, 49, 49, 0.568);
   border-color: white;
   margin: 5px;
   border-radius: 25px;
   margin-top: 25px;
   border: 1px solid;
   box-shadow: 1px 1px 2px #bbbbbb;
}

#blogboxcontent {

   margin-left: 25px;
   font-size: 30px;

}

#b {
   margin: 15px;
   height: 100%;
   width: 100%;
}

#hzlogo {
   margin-left: 15px;

}

#bloginfo {

   margin-left: 90px;
   margin-right: 90px;
}

#blogbox:hover {
   opacity: 0.8;

}

#blogs {
   display: flex;
   margin-left: 90px;
   margin-right: 90px;
   flex-direction: column;
}